.sr-note-container {
  width: 100%;
}

.sr-note-button {
  width: 100%;
  background-color: #F5F5F5;
  color: #009ADE;
  position: relative;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
}


.sr-caret-icon {
  filter: invert(51%) sepia(92%) saturate(4571%) hue-rotate(173deg) brightness(101%) contrast(102%);
  width: rem(5px);
  height: rem(5px);
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .sr-note-container {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* For tablets: */
  .sr-note-container {
    padding: 0 24px;
  }
}
